create dataframe which consist of three columns: Postcode, Borough, and Neighborhood

In [35]:
import requests
import lxml.html as lh
import pandas as pd
import io
from zipfile import ZipFile

url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
r = pd.read_html(url)
df = pd.DataFrame(r[0])
df.head(15)

   Postcode           Borough     Neighbourhood
0       M1A      Not assigned      Not assigned
1       M2A      Not assigned      Not assigned
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M6A        North York  Lawrence Heights
6       M6A        North York    Lawrence Manor
7       M7A  Downtown Toronto      Queen's Park
8       M8A      Not assigned      Not assigned
9       M9A      Queen's Park      Not assigned
10      M1B       Scarborough             Rouge
11      M1B       Scarborough           Malvern
12      M2B      Not assigned      Not assigned
13      M3B        North York   Don Mills North
14      M4B         East York  Woodbine Gardens

drop the the rows with a borough that is "Not assigned"

In [47]:
indexNames = df[df['Borough']=='Not assigned'].index
df.drop(indexNames, inplace=True)
df.reset_index()
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

if a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. More than one neighborbood can exist in one postal code area. These two rows will be combined into one row with the neighborhoods separated with a comma.

In [41]:
df['Neighbourhood']=df['Neighbourhood'].replace('Not assigned', df['Borough'])
df1 = df.groupby(by=['Postcode','Borough']).agg(lambda x: ','.join(x))
df1.reset_index().head(15)

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

use the .shape method to print the number of rows of the dataframe

In [46]:
df1.shape

(103, 1)